<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://180.166.66.226:3881/shark-appcollections/static/file/upload/temp/IPA/TaoZhiHuiProj-V1.0.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://180.166.66.226:3881/shark-appcollections/static/file/upload/temp/Icon/09490f16-d486-404b-8f9e-85a4283d01fa.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.anji.taozhihui</string>
				<key>bundle-version</key>
				<string>0.1.9</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>淘智汇</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
